<table class="table table-borderless">
    <tr>
        <td>Nama Produk Kesehatan*</td>
        <td>
            <input id="namaInput" class="form-control" maxlength="50">
            <small id="errNama" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="addCancelBtn" class="btn btn-outline-dark">Cancel</button>
            <button id="addCreateBtn" class="btn btn-primary">Create</button>
        </td>
    </tr>
</table>

<script src="../medicalfacilitycategory/addMedicalFacilityCategory.js"></script>