<input th:value="${id}" type="hidden" id="deleteMedicalFacilityCategoryId">
<h5>Apakah anda yakin ingin menghapus produk kesehatan? </h5>

<table class="table table-borderless table-sm">
    <tr>
        <th>Produk Kesehatan</th>
        <td id="idDelete">name</td>
    </tr>

</table>
<button id="deleteBtnCancel" class="btn btn-outline-dark">Cancel</button>
<button id="deleteBtnDelete" class="btn btn-danger">Delete</button>

<script src="../medicalfacilitycategory/deleteMedicalFacilityCategory.js"></script>